
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
@import "font-awesome";

$body-font: 'Open Sans', sans-serif;
$header-font: 'Bree Serif', 'serif';
$base-color: #FFFFFF;
$base-color-hover: #FCFCFC;
$scondary-color: #2461A8;
$base-contrast: #151515;
$box-shadow-color: #666666;
$light-shadow-color: #CCCCCC;
$bright-accent: #F9CF00;
$bright-accent-hover: #ffd815;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
}

%no-margin-or-padding {
    margin: 0;
	padding: 0;  
}

%bright-action {
    background: #F9CF00;
    color: #151515;
}

body {
    @extend %no-margin-or-padding;
    background: $base-color;
    color: $base-contrast;
    font-family: $body-font;
	font-size:16px;
	line-height: 1.5;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
      
main {
    flex: 1 0 auto;
    flex-grow: 1;
}


h1 {
	text-align: center;
	font-size: 2rem;
	font-family: $header-font;
	margin: 1.5rem;
}

h2 {
	text-align: center;
	font-size: 1.8rem;
	font-family: $header-font;
	margin: 1.5rem;
}

h3 {
	text-align: center;
    font-size: 1.6rem;
	font-family: $header-font;
	margin: 1.5rem;
}

h4 {
	text-align: center;
    font-size: 1.4rem;
	font-family: $header-font;
	margin: 1.5rem;
}


.container {
    margin: 0 auto;
    width: 85%;
}

p {
	margin: 1.5rem;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



.toggle,
[id^=drop] {
	display: none;
}

nav { 
    @extend %no-margin-or-padding;
    background-color: #4484CE;
    z-index: 2;
    font-size:22px;
	line-height: 32px;
}

.logo {
    color: $base-color;
    font-family: $header-font;
	display: block;
	padding: 0 30px;
    float: left;
    font-size:25px;
	line-height: 60px;
}

nav:after {
	content:"";
	display:table;
	clear:both;
}

nav ul {
    @extend %no-margin-or-padding;
	float: right;
	list-style: none;
	position: relative;
	}
	
nav ul li {
	margin: 0px;
	display:inline-block;
	float: left;
	background-color: #4484CE;
	}

nav a{
	display:block;
	padding:14px 20px;	
	color:$base-color;
	font-size:17px;
	text-decoration:none;
}

nav ul li ul li:hover { background: $scondary-color; }

nav a:hover { 
	background-color: $scondary-color; 
}

nav ul ul {
	display: none;
	position: absolute; 
	top: 60px; 
}
	
nav ul li:hover > ul {
	display:inherit;
}
	
nav ul ul li {
	width:200px;
	float:none;
	display:list-item;
	position: relative;
}


nav ul ul ul li {
	position: relative;
	top:-60px;
	left:200px; 
}

	
li > a:after { content:  ' +'; }
li > a:only-child:after { content: ''; }

main a {
    text-decoration: none;
    font-weight: bold;
    color: #2461A8;
}

main a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #3e82cf;

}

.splash {
    background-image: image-url('playerbackground.png');
    background-size: cover;
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
}

.splashtext {
    color: $base-color;
    text-shadow: 2px 2px $base-contrast;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 2rem 0 2rem 0;
    padding: 1.5rem;
}

.ma {
    margin: auto;
}

.box {
	padding: 1rem;
	margin: 1rem auto 1rem auto ;
	box-shadow: 2px 1px 2px $box-shadow-color;
	width: 95%;
	overflow: hidden;
}

.green {
	background: #7faf7f;

}

.red {
	background: #ff9898;
}


#error_explanation {
	h4 {
		font-family: $body-font;
	}
	background: #ff9898;
	margin: 0.4rem;
	padding: 1.5rem;
	box-shadow: 2px 1px 2px $box-shadow-color;
	ul {
		list-style-position: inside;
	}
}
.filebox {
	margin: auto;
	margin-bottom: 1.5rem;
}

.field {
	margin-bottom: 1.4rem;
	padding: 0.2rem;
}

.uploader {
	padding: 0.5rem;

}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
}
.inputfile + label {
	padding: 1rem;
	color: $base-contrast;
	font-size: 1.1rem;
	font-weight: bold;
	background-color: $base-color;
	box-shadow: 1px 1px 1px $box-shadow-color;
	display: block;
	text-align: center;
	cursor: pointer;
}

.inputfile:focus + label,
.inputfile + label:hover {
	background-color: $base-color-hover;
}

.formlabel {
	text-align: right;
	padding: 0 1.5rem 0 0;
}

.subtle-text {
	font-size: 0.8rem;
	color: $box-shadow-color;
}

.file-info {
	border-bottom: 1px solid $light-shadow-color;
	text-align: center;
	min-height: 1.8rem;
	padding: 0.2rem;
	font-size: 0.8rem;
}

label.required:after{
	content: "\00a0*\00a0";
	color: red;
	font-size: 0.8rem;
}

%bigcard {
	box-shadow: 2px 2px 2px $box-shadow-color;
    margin: 2rem auto 2rem auto;
    padding: 1.5rem;
	background: $base-color;
}

.card {
	@extend %bigcard;
	
}

.checkline {
	display: flex;
	flex-wrap: wrap;
}

.checky {
	margin-right: 2.5rem;

	checkbox {
		margin-right: 0.5rem;
	}
}
.fancyform {
	.row {
		margin-bottom: 2rem;
	}
	label {
		font-size: 1.1rem;
		font-weight: bold;
	}
	input[type=text], input[type=password], input[type=email], textarea {
		width: 100%;
	}


    #user_remember_me {
        width: 15px;
        border: 1px solid black;
    }
}

.borderbottom {
	border-bottom: 1px solid $light-shadow-color;
	margin-bottom: 1rem;
}
.faded {
	opacity: 0.5;
}
.flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.leftflex {
	display: flex;
	flex-wrap: wrap;
}

.avatar {
	width: 100px;
	height: 100px;
}

%mini-card {
	margin: 1.2rem;
	padding: 1.2rem;
	box-shadow: 1px 1px 1px $box-shadow-color;
	display: flex;

}
.user-card {
	@extend %mini-card;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.team-card {
	@extend %mini-card;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 200px;
	height: 280px;
	overflow: hidden;
	text-align: center;
}

.accent-btn, input[type=submit] {
	@extend %bright-action;
	display: block;
	text-align: center;
	padding: 0.5em;
	font-size: 1.2rem;
	font-weight: bold;
	border: none;
	box-shadow: 1px 1px 1px $box-shadow-color;
	cursor: pointer;
	width: 100%;
}

.accent-btn:hover, input[type=submit]:hover {
	background-color: $bright-accent-hover;
	color: $base-contrast;
}

input, textarea, select {
	padding: 0.6rem;
	margin: 0.2rem 0 0.2rem 0;
	border: 1px solid #ccc;
	background: $base-color;
	color: $base-contrast;
	box-sizing: border-box;
	font-family: $body-font;
	font-size: 1rem;
}

.interestform {
	label {
		font-size: 1.1rem;
		font-weight: bold;
	}

	select {
		width: 100%;
	}


}
.form, .userform {
	@extend %bigcard;


	label {
		font-size: 1.1rem;
		font-weight: bold;
	}
	input[type=text], input[type=password], input[type=email], textarea {
		width: 100%;
	}


    #user_remember_me {
        width: 15px;
        border: 1px solid black;
    }



}

.address {

	div {
		padding: 0.4rem;
	}
	label {
		color: $box-shadow-color;
		font-size: 0.85rem;
	}
	input {
		border: 0px;
		border-bottom: 1px solid $light-shadow-color;
		
	}
}

.centretext {
	text-align: center;
}

.avatar {
	width: 75px;
	height: 75px;
	img {
		width: 75px;
		height: auto;
	}
}
.rounded {
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin: auto;
	overflow: hidden;
	border: $base-contrast 2px solid;
	box-shadow: 2px 2px 2px $box-shadow-color;
	display: flex;
	align-items: center;
	justify-content: center;
	img {
		height: auto;
		width: 150px;
	}
}

.team-box {
	border: 1px solid $light-shadow-color;
}

.team-body {
	div {
		padding: 1rem;
	}
	p {
		padding: 0.2rem;
		margin: 0.2rem;
	}
}
.team-header {
	background: $scondary-color;
	color: $base-color;
	font-weight: strong;
	display: flex;
	justify-content: space-between;
}
.map {
	width: 100%;
	max-width: 650px;
}

table {
    border-collapse: collapse;
	width: 100%;
	text-align: center;
	
	td, th {
		border: 1px solid #ddd;
		padding: 8px;
	}

	th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: center;
		background-color: $scondary-color;
		color: $base-color;
	}

	tr:nth-child(even){background-color: #f2f2f2;}

	tr:hover {background-color: #ddd;}
}

.stars {
	color: $bright-accent;
}

.inputbox {
	p {
		margin: 0;
	}
}
footer {
    background: $base-contrast;
    color: $base-color;
    text-align: center;
}


footer ul {
	padding:0;
	margin:0;
	list-style: none;
	position: relative;
}
	
footer ul li {
	margin: 0px;
	display:inline-block;
}

footer a{
	display:block;
	padding:10px 15px;	
	color:$base-color;
	font-size:17px;
	text-decoration:none;
}

.buffer {
	padding: 1.4rem;
}

.nowrapflex {
	display: flex;
	flex-wrap: nowrap;

	a {
		margin: 1rem;
	}
}

.w-20 {
	width: 20%;
}

.w-80 {
	width: 80%
}
/* Media Queries
--------------------------------------------- */
@media all and (min-width: 769px) {
    .l-12 {
        width: 100%;
	}
	
	.l-10 {
		width: 80%
	}

	.l-mr1 {
		margin-right: 2rem;
	}

	.l-8 {
		width: 70%
	}

	.l-7 {
        width: 60%;
        box-sizing: border-box;
	}
	

    .l-6 {
        width: 50%;
	}

	.l-5 {
        width: 40%;
        box-sizing: border-box;
	}
	
	.l-3 {
        width: 25%;
        box-sizing: border-box;
	}

	.l-2 {
        width: 20%;
        box-sizing: border-box;
	}
	
	.l-9 {
        width: 75%;
        box-sizing: border-box;
	}
}
@media all and (max-width : 1100px) {
.container {
	width: 100%;
}
.checkline {
	display: block;
	div {
		width: 100%;
	}
}
}
@media all and (max-width : 768px) {
	%bigcard {
		box-shadow: 2px 2px 2px $box-shadow-color;
		margin: 0;
		padding: 0.5rem;
		background: $base-color;
	}
	.logo {
		display: block;
		padding: 0;
		width: 100%;
		text-align: center;
		float: none;
	}

	nav {
        margin: 0;
	}

    nav ul {
        width: 100%;
        float: none;
    }
	.toggle + a,
	.menu {
		display: none;
	}

	.toggle {
		display: block;
		background-color: #4484CE;
		padding:14px 20px;	
		color:$base-color;
		font-size:17px;
		text-decoration:none;
		border:none;
	}

	.toggle:hover {
		background-color: $scondary-color;
	}

	[id^=drop]:checked + ul {
		display: block;
	}

	nav ul li {
		display: block;
		width: 100%;
		}

	nav ul ul .toggle,
	nav ul ul a {
		padding: 0 40px;
	}

	nav ul ul ul a {
		padding: 0 80px;
	}

	nav a:hover,
 	nav ul ul ul a {
		background-color: $scondary-color;
	}
  
	nav ul li ul li .toggle,
	nav ul ul a,
  nav ul ul ul a{
		padding:14px 20px;	
		color:$base-color;
		font-size:17px; 
	}
  
  
	nav ul li ul li .toggle,
	nav ul ul a {
		background-color: #212121; 
	}

	nav ul ul {
		float: none;
		position:static;
		color: $base-color;
	}
		
	nav ul ul li:hover > ul,
	nav ul li:hover > ul {
		display: none;
	}
		
	nav ul ul li {
		display: block;
		width: 100%;
	}

	nav ul ul ul li {
		position: static;
	}
    .container {
        width: 100%;
    }
    
    .splashtext {
        align-items: center;
        padding: 0.2rem;
        margin: 0.2rem;
    }

	.formlabel {
		text-align: left;
		
	}
    .m-12 {
        width: 100%;
        box-sizing: border-box;
	}

	.m-9 {
        width: 75%;
        box-sizing: border-box;
	}

	.m-6 {
		width: 50%;
		box-sizing: border-box;

	}

	.m-3 {
        width: 25%;
        box-sizing: border-box;
	}
	
	.address {
		label {
			font-size: 0.7rem;
		}
	}

}

@media all and (max-width : 330px) {

	nav ul li {
		display:block;
		width: 94%;
    }
    
    .container {
        width: 100%;
    }

}